@import url('https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Condensed');
  /* font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;*/

.App {
  width:1280px;
  height: 100%
}

.Sidebar{
  margin-top: -17px;
  margin-right: 10px;
  float: left;
  width: 256px;
  height: 100%;
  background-color: #37392e;
  padding-bottom: 25px;

}

.HBFLogoSidebar{
  width: 60%;
  height: 60%;
  text-align: left;
  padding-top: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.Sidebar-title{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin-left: 25px;
}

.Sidebar-title>a{
  color: #89d3d3;
  text-decoration: none;
}

.Sidebar-title>a:hover{
  color: #f5f0f0;
}

.Sidebar-title>a:active{
  color: #28afb0;
}

.Sidebar-link{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

button{
  margin-bottom: 5px;
  border-color: none;

}

.Sidebar-link-item{
  text-decoration: none;
  background: transparent;
  border: transparent;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #f5f0f0;
  width: 90%;
}

.Sidebar-title-item-active{
  position: relative;
  color: #89d3d3;
}
.Sidebar-title-item-active::before {
    content: "";
    display: inline-block;
    width: 125%;
    height: 125%;
    background-image: url('/assets/selected-arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: 234px;
    bottom:-5px;
    z-index: -2;
}

.Sidebar-link-item:hover{
  color: #89d3d3;
}

.Sidebar-link-item:active{
  color: #28afb0;
}

.Sidebar-link-item-active{
  position: relative;
  color: #89d3d3;
}

.Sidebar-link-item-active::before {
  content: "";
  display: inline-block;
  width: 150%;
  height: 150%;
  background-image: url('/assets/selected-arrow.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: 234px;
  bottom:-6px;
  z-index: 10;
}

li{
  list-style-type: none;
}

/******** Organisation componenent **************/
.Search-container{
  width: 100%;
  height: 50px;
  margin: 10px;
  border: 1px solid red;
}

.Container{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  height: 70%;
  border: 1px solid red;
  position: relative;
}

.Cards{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: left;
  padding: 0px 2px 2px 3px;
  width: 410px;
  border-bottom: 1px solid #ddcecd;
  border-left: 1px solid #ddcecd;
  border-right: 1px solid #ddcecd;
  box-shadow: 1px 3px 5px #888888;
  margin-bottom: 25px;

}

.one{
  display: flex;
  width: 100%;
  margin-top: 10px;
  position: relative;
  justify-content: space-between;
  /*border: 1px solid blue;*/
}

.title{
  font-family: 'Roboto Condensed', sans-serif;
  color: #28afb0 ;
  font-size: 22px;
  text-align: left;
  margin-left: 10px;
}

.deleteEditContainer{
  margin-top: 3px;

}

.delete, .edit{
  font-size: 12px;
  color: #28afb0;
  display: inline;
  padding-right: 25px;
}

.two{
  display: flex;
  justify-content: always;
  position: relative;
  margin-top: 5px;
  /*border:1px solid blue;*/
  font-size: 12px;
  color: #91938d;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 10px;
  margin-top: 0px;
}
.area-details, .borough-details{
  padding-right: 3px;
  padding-left: 3px;
}

.services{
  display: flex;
  justify-content: always;
  width: 100%;
  position: relative;
  margin-top: 5px;
  /*border:1px solid blue;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #37392e;
  margin-top: 15px;
}

.services:before {
  content: "-";
  text-indent: 10px;
}

.process-title, .day-title, .telephone-title, .email-title, .website-title, .notes-title{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 15px;
}

.process-details, .day-details, .telephone-details, .email-details, .website-details, .notes-details{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-left: 10px;
  word-wrap:break-word;
}

.details-expand{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  /*border: 1px solid blue;  */
  padding: 5px;
  height: 45px;
}

.details-expand> button{
  padding: 2px;
  background: transparent;
  border-color: transparent;
  background-color: #37392e;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  position: relative;
  color: white;
  right:-8px;
  bottom:-18px;
}


.Detail{
  display: flex;
  flex-direction: column;
}

.Block-title-div{
  position: relative;
  float: left;
  margin-top: 2px;
}

.Result-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid green;
  position: relative;
}
/*.Container{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  height: 100%;
  border: 1px solid red;
  position: relative;
}
*/

/*************************** Search ***********************/
.Header-container{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
  width: 98%;
  height: 120px;
  border: 1px solid red;
}

.Search{
  display: flex;
  flex-flow: row wrap;
  width: 99%;
  margin-left: 2px;
  border: 1px solid blue;
}
.Search p{
   padding-right: 10px;
   margin-bottom: 25px;
   margin-left: 50px;
}
.Search-Fields{
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-color: blue;
}

.Search-Fields select{

  background: transparent;
  border: transparent;
}
.Search-Fields input{
  border: transparent;
}



/*********************** End Search ***********************/
